<% provide(:about, "active") %> 
<% provide(:title, "About") %> 

<div class="container">
	<div class="row">
				</div>

			<div class="col-md-2">
			</div>

			<div class="col-md-4">

			<h1 class="heading">Jasmine Nicole G. Principe</h1>
				<div class="row">
					<p>&emsp;<b>What do you want to be when you grow up?</b> 
						<br>
						<i>&emsp;&emsp;Rich</i>
						<br>
						&emsp;<b>Happy ka ba kay Sir Happy?</b> 
						<br>
						<i>&emsp;&emsp;Happy!!</i>
						<br>
						&emsp;<b>Kapag nagluto si Sir Happy, Happy Meal ba tawag dun?</b>
						<br>
						<i>&emsp;&emsp;Buti pa yung meal, happy</i>
						<br>
						&emsp;<b>Expected grade sa MIS21?</b>
						<br>
						<i>&emsp;&emsp;B HAHAHA jk pls</i>
						<br>
						&emsp;<b>Ano ang favorite final fantasy mo? </b>
						<br>
						<i>&emsp;&emsp;GTA lang alam ko</i>
						<br>
						&emsp;<b>(For the purposes of being in this institution, the question was censored)</b>
						<br> 
						<i>&emsp;&emsp;**toot**</i>
						</p>
					</div>				</div>
				<div class="col-md-4">
				<%=image_tag("principe.jpg")%>
				</div>

			<div class="col-md-2">
			</div>
				
			</div>
		</div>
	</div>
</div>
<hr>
<div class="about">
		<div class ="row">
			<center>
			<h3>The Developers</h3>
			<h5>
				<a href="/about/evilla">Evilla, Galen Solo E.</a> •
				<a href="/about/gomez">Gomez, Feliz Marie B.</a> •
				<a href="/about/guian">Guian, April D.</a> •
				<a href="/about/principe">Principe, Jasmine Nicole G.</a>
			</h5>
 			</center>
 			<hr> 
			</div>
		</div>
	</div>
</div>
</div>
