<% provide(:about, "active") %> 
<% provide(:title, "About") %> 

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="heading">About The Developers</h1>
			<h3><a href="/about/evilla">Evilla, Galen Solo E.</a></h3>
			<h3><a href="/about/gomez">Gomez, Feliz Marie B.</a></h3>
			<h3><a href="/about/guian">Guian, April D.</a></h3>
			<h3><a href="/about/principe">Principe, Jasmine Nicole G.</a></h3>
		</div>
	</div>
</div>
