<% provide(:vote, "active") %> 
<% provide(:title, "Vote now!") %> 

<div class ="container">
  <div class="row">
    <div class="col-md-12">
      <h1><center>VOTES</center></h1>
      <hr>

      <h2><center>Hello, <%= current_user.full_name %>!</center></h2>
      <% if @positions.size > 0 %>
        <h4>Vote now for:</h4>
        <ul>
          <%@positions.each do |p|%>
          <li><%=p.name%><br>
            <%voted_for = false%>
              <% if p.candidates.size > 0 %>
                <% p.candidates.each do |c|%>
                  <%c.votes.each do |v|%>
                    <%if v.user_id == current_user.id%>
                      You have already voted for <%= v.candidate.full_name %>
                      <%voted_for = true%>
                    <% end %>
                  <%end%>
                <% end %>
                  <%if !voted_for%>
                  <%=link_to "Vote for a #{p.name}", "/voting/new/#{p.id}" %>
                <%else%>
                <%end%>
              <% else %>
                <h5>No available candidates to vote for.</h5>
              <%end%>
          </li>
          <%end%>
        </ul>
      <%else%>
        <h5>No available candidates to vote for.</h5>
      <%end%>
      
      <hr>
      <br>
    </div>
  </div>
</div>
   